.header-main {
    background: url('../images/content/header-cover.png');
    background-size: cover;
    background-position: top right;
    min-height: 100vh;
}

.header-bar {
    height: 104px;
    display: flex;
    align-items: center;

    margin-bottom: 116px;

    &__logo {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;

        color: $primary-text-color;
        transition:  opacity .5s ease;

        &:hover {
            opacity: .6;
        }
    }
    
    &__menu {
        margin-left: 117px;
    }

    &__menu-item {
        display: inline-block;
        letter-spacing: 0.2px;

        &:not(:last-child) {
            margin-right: 21px;
        }
    }

    &__menu-link {
        color: $secondary-text-color;
        
        &:hover {
            color: $primary-text-color;
            transition: .5s;

            text-decoration: underline;
        }
    }
}

.header-hero {
    &__title {
        max-width: 509px;

        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.2px;

        color: $primary-text-color;
        text-transform: uppercase;
    }

    &__desc {
        max-width: 376px;

        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;

        margin: 35px 0;

        color: $secondary-text-color;
    }
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    
    margin-top: 90px;

    cursor: default;

    &__items {
        width: 328px;
        height: 210px;
        background-color: $white;

        padding: 35px 20px 35px 40px;

        &:not(:last-child) {
            margin-right: 30px;
        }

        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        transition: all 0.5s ease;

        &:hover {   
            background-color: $secondary-button-color;
            transition: all 0.5s ease;

            * {
                transition: all 0.5s ease;
                color: $white;
                fill: $white;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;   
        letter-spacing: 0.1px;
        color: $primary-text-color;

        padding-top: 10.59px;
    }

    &__desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $secondary-text-color;

        padding-top: 10px;
    }
}